<h1>Listado de Organizaciones</h1>

<form role="organizaciones" ng-submit="organizaciones.traerDesde()">
	<div class="input-group">
		<input name="q" ng-model="organizaciones.q" type="text" class="form-control" placeholder="Un nombre o una sigla"
		ng-minlength="3" ng-trim="true" >
		<span class="input-group-btn">
			<input type="submit" class="btn btn-primary" value="Buscar"/>
		</span>
	</div>
</form>
 
<div ng-hide="!organizaciones.mostrandoBusqueda" ng-cloak>
	<h4>"{{organizaciones.buscado}}":{{organizaciones.total}} encontrada(s)</h4>
</div>

<div ng-repeat='organizacion in organizaciones.items'>
	<div class="panel panel-default">
		<div class="panel-body">
			<h3><a href="#/organizacion/{{organizacion.organizacionid}}">{{organizacion.nombrePreferido}}
				({{organizacion.nombreCorto}})</a></h3>
			<div>
				<h4>Nombres conocidos de la organizaci&oacute;n</h4>
				<ul>
					<li ng-repeat="nombre in organizacion.nombres">{{nombre.denominacion}}</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<pagination ng-change="organizaciones.traerDesde()"
	total-items="organizaciones.total" ng-model="organizaciones.page"
	max-size="maxSize" class="pagination-sm" boundary-links="true"
	rotate="false" num-pages="nroPaginas"></pagination>

<!-- <div infinite-scroll='organizaciones.nextPage()' -->
<!-- 	infinite-scroll-disabled='organizaciones.busy' -->
<!-- 	infinite-scroll-distance='4'> -->
<!-- 	<div ng-repeat='organizacion in organizaciones.items'> -->
<!-- 		<div class="panel panel-default"> -->
<!-- 			<div class="panel-body"> -->
<!-- 				<span>{{organizacion.nombrePreferido}} -->
<!-- 					({{organizacion.nombreCorto}})</span> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- 	<div ng-show='organizaciones.busy'>Cargando datos...</div> -->
<!-- </div> -->
